{% extends "_layouts/elementindex" %}
{% set title = "Coachmarks"|t('coachmarks') %}
{% set elementType = 'franco\\coachmarks\\elements\\Coachmark' %}

{% block actionButton %}
    <a href="coachmarks/new" class="btn submit add icon" title="{{ 'New Coachmark'|t('coachmarks') }}">{{ 'New Coachmark'|t('coachmarks') }}</a>
{% endblock %}

{% block initJs %}
    Craft.elementIndex = Craft.createElementIndex('{{ elementType|e("js") }}', $('#main'), {
        context:        '{{ context }}',
        storageKey:     'elementindex.{{ elementType|e("js") }}'
    });
{% endblock %}